# Excluir el archivo de imágenes pesado
data/dogs-vs-cats
data/*.zip
data/dogs-vs-cats/
# Excluir modelos guardados (archivos .sav como los que tienes)
*.sav

# Excluir carpetas de sistema y temporales
.ipynb_checkpoints/
__pycache__/
__pycache__
.env
.learn